page-home {
  .search-container {
    display: flex;
    align-items: center;
    button.icon-only {
      margin: 0;
      height: 4rem;
    }
  }

  .item {
    h2 {
      margin: 0 !important;
      display: flex;
      align-items: center;
    }
    .online-marker {
      margin-left: 5px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: limegreen;
    }
  }

  section {
    img {
      border: 1px solid #000;
      border-radius: 5px;
    }
  }

}
